*{margin: 0;padding: 0;box-sizing: border-box}
*::after{box-sizing: border-box}
*::before{box-sizing: border-box}
h1,h2,h3,h4,h5,h6{font-weight: normal}
.page{
  border: 1px solid red;
  .pageHeader{
    height: 50px;
    background: lightblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .pageAside{
    background: #e1e0c7;
    margin: 4px 5px 4px 0;
  }
  .pageContent{
    margin: 4px 0;
  }
  .pageFooter{
    height: 50px;
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}