@import "./lib/global";

$padding:10px;
$main-color:#c91717;
pre{
  font-family: "Fira Code Medium",Consolas,monospace;
}
.page{
  min-height: 100vh;
  border: 1px solid red;
  .pageHeader{
    height: 50px;
    background: lightblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .pageAside{
   // background: #e1e0c7;
    margin: 4px 10px 4px 0;
    ul{
      min-width: 12em;
      >li{
        a{
          color: #333;
          padding: 8px $padding;
          &:hover{
            color: $main-color;
          }
          &.active{
            color: #fff;
            background: lighten($main-color,20%);
          }
        }
      }
    }
  }
  .pageContent{
    margin: 4px 0;
  }
  .pageFooter{
    height: 50px;
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}